#deny from all
#allow from 127.0.0.1
#allow from 185.11.246.138
#allow from 188.134.48.224
#allow from 81.95.28.86

RewriteEngine on
RewriteCond $1 !^(robots\.txt|index\.php|test2\.php)
RewriteRule ^(.*)$ /index.php/$1 [L]

#RewriteCond %{REMOTE_ADDR} !=188.134.48.229
#RewriteCond %{REMOTE_ADDR} !=94.41.83.73
#RewriteCond %{REMOTE_ADDR} !=81.95.28.86
#RewriteRule ^.* http://dcserver.ru [L]

#redirect / http://dcserver.ru/

php_flag    display_errors          on
php_flag    display_startup_errors  on
